.my-modal {
    width: 1280px !important;/* Occupy the 90% of the screen width */
    max-width: 1280px !important;
    top: 10%;
    margin:0;
}
.my-modal #modal-body{
    padding:0;
    height: 720px;
}

.my-modal #modal-header{
    background-color: black;
    border-bottom:0;
}

.my-modal .close-button{
    background-color: transparent;
    border: none;
    padding: 0;
}