div.media.discover div.content_wrapper > div.title {
    width: 100%;
    margin-bottom: 20px;
}
div.media.discover div.content_wrapper > div.title h2 {
    font-size: 1.6em;
}
section.inner_content div.title h2 {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 2.2rem;
}
div.title h2 {
    font-size: 1.5em;
    margin: 0 0 4px 0;
    font-weight: 600;
}
div.media.discover div.filter_panel {
    min-width: 260px;
    width: 260px;
    border: 1px solid #e3e3e3;
    border-radius: var(--imageBorderRadius);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
}
.card {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(var(--lightGrey), 1);
    background-color: #fff;
}
div.media.discover div.filter_panel div.name {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    padding: 14px 16px;
}
div.media.discover div.filter_panel div.name span.chevron-right {
    transform: rotate(90deg);
}
.glyphicons_v2.chevron-right {
    background-image: url('https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-224-chevron-right-d1f88a6c15e68190c3b47e1ee4f39fe47f4b69f4966ca7c250c2e14cfa689a04.svg')
}
div.media.discover div.filter_panel div.filter {
    width: 100%;
    border-top: 1px solid #eee;
    padding: 14px 16px 16px 16px;
}
div.media.discover .font_size_1, div.media.discover .font_size_1 ul li {
    font-size: 0.9em;
}
div.media.discover .full_width {
    width: 100%;
}
.k-widget, .k-textbox, .k-textarea {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 1em;
}
.k-dropdown, .k-dropdowntree {
    width: 12.4em;
    border-width: 0;
    outline: 0;
    background: none;
    box-sizing: border-box;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    line-height: 1.5;
    text-align: left;
    white-space: nowrap;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: middle;
    position: relative;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.k-widget {
    border-color: rgba(33,37,41,0.125);
    color: #292b2c;
    background-color: #fff;
}
.k-widget {
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    outline: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    line-height: 1.5;
    display: block;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.k-dropdown .k-dropdown-wrap, .k-dropdowntree .k-dropdown-wrap {
    border-color: #e4e4e4;
    color: #212529;
    background-color: #e4e4e4;
}
.k-dropdown .k-dropdown-wrap, .k-dropdowntree .k-dropdown-wrap {
    transition: color 0.2s ease-in-out,background-color 0.2s ease-in-out,border-color 0.2s ease-in-out,box-shadow 0.2s ease-in-out;
}
.k-dropdown .k-dropdown-wrap, .k-dropdowntree .k-dropdown-wrap {
    border-radius: .25rem;
    padding: 0;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    position: relative;
    transition: all .1s ease;
    cursor: pointer;
    outline: 0;
}
div.media.discover .font_size_1, div.media.discover .font_size_1 ul li {
    font-size: 0.9em;
}
.k-widget, .k-textbox, .k-textarea {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 1em;
}
section.panel:last-of-type {
    padding-bottom: 0;
}
section.panel:first-of-type {
    border-top: none;
    padding-top: 0;
}
section.panel {
    width: 100%;
    display: block;
    padding: 30px 0;
    border-top: 1px solid #d7d7d7;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}
div.media.discover div.results {
    margin-top: -30px;
    margin-left: -30px;
}
div.page_wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
section.inner_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
 ul.actions {
    margin-bottom: 20px;
    width: 100%;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
ul.actions li.chart {
    background: transparent;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 68px;
}
ul.actions li {
    margin-right: 20px;
}
ul.actions li.chart div.text {
    font-weight: 700;
    margin-left: 6px;
    white-space: pre-line;
}
ul.actions li.tooltip1 {
    padding: 3px 0;
}
ul.actions li {
    margin-right: 20px;
}
ul.actions li.tooltip1 a, section.inner_content section.header ul.actions li.video a {
    border-color: #000000;
    color: #000000;
}
ul.actions li.tooltip1 a, section.inner_content section.header ul.actions li.video a {
    box-sizing: border-box;
    background: rgba(var(--tmdbDarkBlue), 1.0);
    color: #000;
    border-radius: 50%;
    width: 46px;
    height: 46px;
}
ul.actions li a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    color: black;
    font-weight: 600;
}




 .k-tooltip1.custom_theme {
     background-color: #000000;
     color: #ffffff;
 }

.custom_theme .k-callout-n {
    border-bottom-color: #000000;
}

.custom_theme .k-callout-e {
    border-left-color: #000000;
}

.custom_theme .k-callout-w {
    border-right-color: #000000;
}

.custom_theme .k-callout-s {
    border-top-color: #000000;
}

#shortcut_bar_scroller.scroller_wrap, div.single_column_wrapper {
    border-bottom: 1px solid rgba(27.84%, 79.22%, 62.16%, 1.00);
}


div.header.large.first {
    border-bottom: 1px solid rgba(27.84%, 79.22%, 62.16%, 1.00);
    background-position: right -200px top;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('//image.tmdb.org/t/p/w1920_and_h800_multi_faces/9xNOiv6DZZjH7ABoUUDP0ZynouU.jpg');
}


section.inner_content section.header div.facts span.certification {
    border: 1px solid rgba(0.00%, 0.00%, 0.00%, 0.60);
    color: rgba(0.00%, 0.00%, 0.00%, 0.60);
}



section div.header.first div.single_column {
    background: transparent;
}

section.inner_content section.header {
    color: #000000;
}

section.inner_content a, section.media_panel div.menu ul li.active a {
    color: #000;
}

section.inner_content a:hover, section.media_panel div.menu ul li.active a:hover {
    color: #33cc99;
}

section.inner_content section.header ul.actions li.tooltip1 a, section.inner_content section.header ul.actions li.video a {
    border-color: #000000;
    color: #000000;
}

p.new_button a, section.media_panel div.menu ul li.view_all a, div.episode div.info span.episode_number, section.review div.review_container div.inner_content div.teaser p a {
    color: #33cc99;
}

p.rounded.new_button a:hover {
    color: #000000;
}

section.media_panel div.menu ul li.active, section.inner_content ul.shortcut_bar li.selected, section.inner_content ul.shortcut_bar li:hover {
    border-color: #33cc99;
}

section.content_score div.content_score {
    background-color: rgba(20.00%, 80.00%, 60.00%, 0.60);
}

div.settings_panel h3.background_color {
    background-color: #33cc99;
}


section.inner_content div.custom_bg {
    background-image: linear-gradient(to right, rgba(20.00%, 80.00%, 60.00%, 1.00) 150px, rgba(35.69%, 78.43%, 64.31%, 0.84) 100%);
}

section.inner_content.no_backdrop.poster div.custom_bg {
    background-image: linear-gradient(to right, rgba(20.00%, 80.00%, 60.00%, 0.84) 0, rgba(35.69%, 78.43%, 64.31%, 0.64) 100%);
}


section.inner_content section.header a, section.inner_content section.header div.title a {
    color: #000000;
}

p.new_button.rounded, section.content_score div.content_score div, div.leaderboard div.histogram div.bar span {
    border-color: #33cc99;
    background-color: #33cc99;
}

