div.accent_colors div.color {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.color.silver, .color_hover.silver:hover {
    color: #959595;
}

.color.pink, .color_hover.pink:hover {
    color: #ea148c;
}

.color.purple, .color_hover.purple:hover {
    color: #805be7;
}

.color.green, .color_hover.green:hover {
    color: #01d277;
}

.color.teal, .color_hover.teal:hover {
    color: #01c6ac;
}

.color.light_blue, .color_hover.light_blue:hover {
    color: #01b4e4;
}

.color.blue, .color_hover.blue:hover {
    color: #0177d2;
}

.color.orange, .color_hover.orange:hover {
    color: #d27701;
}

.color.yellow, .color_hover.yellow:hover {
    color: #d29001;
}

.color.red, .color_hover.red:hover {
    color: #d40242;
}

.background_color.silver, .k-button.background_color.silver {
    background-color: rgba(var(--accountSilver), 1);
}

.background_color.pink, .k-button.background_color.pink {
    background-color: rgba(var(--accountPink), 1);
}

.background_color.purple, .k-button.background_color.purple {
    background-color: rgba(var(--accountPurple), 1);
}

.background_color.green, .k-button.background_color.green {
    background-color: rgba(var(--accountGreen), 1);
}

.background_color.teal, .k-button.background_color.teal {
    background-color: rgba(var(--accountTeal), 1);
}

.background_color.light_blue, .k-button.background_color.light_blue {
    background-color: rgba(var(--accountLightBlue), 1);
}

.background_color.blue, .k-button.background_color.blue {
    background-color: rgba(var(--accountBlue), 1);
}

.background_color.orange, .k-button.background_color.orange {
    background-color: rgba(var(--accountOrange), 1);
}

.background_color.yellow, .k-button.background_color.yellow {
    background-color: rgba(var(--accountYellow), 1);
}

.background_color.red, .k-button.background_color.red, .k-button.background_color.red:hover {
    background-color: rgba(var(--accountRed), 1);
}

div.accent_colors div.color:hover, div.accent_colors div.color.selected {
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center center;
    background-image: url(https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-739-check-white-a09b2a26e235b77489dfd57be3b66a17ff86efd5fb94d6db5f10cd3ced01e5a6.svg);
}

div.accent_colors div.color:hover {
    cursor: pointer;
}

form.k-form {
    padding: 0px;
}

.k-form, .k-form-inline {
    color: rgb(191, 191, 191);
}

.k-form {
    border: 0px;
}

.k-form, .k-form-inline {
    font-size: 1rem;
    line-height: 1.5;
}

.k-form .k-form-field, .k-form .k-form-field:last-child, .k-form-inline .k-form-field, .k-form-inline .k-form-field:last-child {
    margin-bottom: 1rem;
}

.k-form .k-form-field {
    display: block;
}

.k-form .k-form-field, .k-form .k-form-buttons, .k-form .k-daterangepicker .k-textbox-container {
    margin-top: 1rem;
}

div.k-form-field {
    margin-bottom: 1rem;
}

.k-form, .k-form-inline {
    font-size: 1rem;
    line-height: 1.5;
}

div.accent_colors {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.background_color.silver, .k-button.background_color.silver {
    background-color: rgba(var(--accountSilver), 1);
}

.border_color.silver, .k-button.border_color.silver {
    border-color: rgb(148, 148, 148);
}

.k-button.k-primary {
    border-color: rgb(46, 154, 184);
    color: rgb(255, 255, 255);
    background-color: rgb(46, 154, 184);
}

form.k-form fieldset + input, form.k-form fieldset + div, form.k-form fieldset + p, p + form.k-form div.flex, form.k-form p + div.flex {
    margin-top: 30px !important;
}

input[type="submit"], button {
    font-weight: 700;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    appearance: button;
    cursor: pointer;
}

.rounded {
    border: 2px solid rgb(28, 28, 33);
    border-radius: 5px;
    padding: 8px 16px;
    transition: all 0.1s linear 0s;
}

.k-button {
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    font-size: 1rem;
    line-height: 1.5;
    font-family: inherit;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    user-select: none;
    cursor: pointer;
    outline: none;
    appearance: none;
    position: relative;
}