.v4 {
    width: 100%;
    display: flex;
    border-radius: var(--imageBorderRadius);
    overflow: hidden;
}

.card {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(var(--lightGrey), 1);
    background-color: #fff;
}

.image {
    width: calc(133.333px);
    min-width: calc(133.333px);
    height: 200px;
    box-sizing: border-box;
}

.details {
    width: 100%;
    padding: 10px 15px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

.flex_space_between {
    width: 100%;
}

.wrapper {
    display: flex;
    align-items: center;
    width: 100%;
}

.consensus {
    margin-right: 10px;
}

.tight {
    width: 38px;
    height: 38px;
    box-sizing: border-box;
}

.outer_ring {
    width: 38px;
    height: 38px;
    padding: 2px;
}

.user_score_chart {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
}

.percent {
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.action_bar {
    margin-top: 20px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
}